@import '~antd/dist/antd.css';

.App {
  --app-width: 400px;
  --app-height: 700px;
  background-color: white;
  top: calc(50% - var(--app-height)/2);
  left: calc(50% - var(--app-width)/2);
  border: 1px solid black;
  padding: 10px;
  height: var(--app-height);
  width: var(--app-width);
  overflow-y: scroll;
  position: absolute;
  filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.5));
}

.ant-list-item-meta {
  background-color: white;
  border-bottom: 1px solid grey;
}

.ant-list-item-meta-title {
  color: grey;
}
.ant-list-item-meta-description {
  color: black;
}
